body {
  font-family: Arial, sans-serif;
}

header, footer {
  background-color: #282c34;
  padding: 10px 0;
}

footer {
  position: fixed;
  width: 100%;
  bottom: 0;
}

nav a {
  color: white;
  margin: 0 15px;
  text-decoration: none;
}

nav a:hover {
  text-decoration: underline;
}

h1 {
  color: #282c34;
}

.container {
  margin-top: 20px;
}